.header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  margin: 1em 0;
}

.userContainer {
  width: 35%;
  margin: auto;
  margin-top: 5em;
}


.booking-count {
  width: 25%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5em;
  text-align: center;
}

.booking-list-table table tr td {
  text-transform: capitalize;
}